*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container-fluid{
    width:100%;
}
.container{
    max-width: 1400px;
    margin:0 auto;
}
.section-header h2{
    font-size: 3rem;
    padding:1rem 0;
    color:#272727;

}
.shop-the-look{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.shop-the-look img{
    width: 100%;
    
}
/* dot button */

:root{
    --dot-btn-one-position-top:47%;
    --dot-btn-one-position-left:16%;
    --dot-btn-two-position-top:38%;
    --dot-btn-two-position-left:67%;
    --rounded-full:9999px;
    --background:255 255 255;
}
.relative{
    position: relative;
}
/* problem start */
.dot-btn-one{
    --dot-size: 10px;
    top: calc(var(--dot-btn-one-position-top) - (var(--dot-size) / 2));
    left: calc(var(--dot-btn-one-position-left) - (var(--dot-size) / 2));
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: var(--rounded-full);
    background-color: rgb(var(--background));
    transition: transform .2s ease-in-out;
    position: absolute;
    cursor:pointer;
}
.dot-btn-two{
    --dot-size: 10px;
    top: calc(var(--dot-btn-two-position-top) - (var(--dot-size) / 2));
    left: calc(var(--dot-btn-two-position-left) - (var(--dot-size) / 2));
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: var(--rounded-full);
    background-color: rgb(var(--background));
    transition: transform .2s ease-in-out;
    position: absolute;
    cursor: pointer;
}
.dot-button span{
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
}
/* problem end */



/* products shop */
.shop-the-look_products{
    display: grid;

}
.product-card_figure{
    width:70%;
    height:75%;
    margin-left:auto;
    margin-right:auto;
    position: relative;
}
.product-card_figure img{
    height:100%;
}
/* product badge style */
.product-card_badge{
    position: relative;
    display: inline-block;
}

.product-card_badge span{
    position: absolute;
    left:9rem;
    top:1rem;
    padding:5px 10px;
    color:white;
    background-color:#3C619E;
    font-weight: bold;
    cursor: pointer;
    z-index: 999;
}

/* rating product */
.rating-with-text{
    display: flex;
    justify-content: space-between;
    padding:10px 0px;
}
.rating-with-text a{
    text-decoration: none;
    color:#5f5c5c;
}
.rating-with-text span svg{
    color: #FFB74A;
}

/* product card quick buy */
.product-card_quick-buy{
    position: absolute;
    bottom:10px;
    right:10px;
    background-color: blue;
    padding:5px 10px;

}
.product-card_quick-buy button{
    color:white;
    border:none;
    background:transparent;
    cursor: pointer;
}
/* Product name and price */
.product-name-price{
    font-weight: 700;
}
.product-name-price a{
    text-decoration: none;
    color:#151414;
    
}
.product-name-price p{
    padding:5px 0;
    color:#272727;

}
/* color-choice */
.color-choice{
    display: flex;
    margin:0;
    padding:0;
    border:none;
    margin-top:8px;
}
.color-choice .color{
    width:16px;
    height:8px;
    cursor: pointer;    
    margin:0 2px;
}
.gray{
    background-color: #BEBDB9;
}
.light{
    background-color: #F3DF66;
}
.lightRed{
    background-color: #F6D0C3;
}
.green{
    background-color: #83A190;
}
.vase-gray{
    background-color: #475785;
}
 .active{
    border-bottom:2px solid black;
    margin-top:1px;

}
/* previous and next btn */
.prev-next-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-30px;
    
}
.prev-next-btn li{
    width:40px;
    height:40px;
    text-decoration: none;
    border-radius: 50%;
    border:1px solid #b8b7b7;
    margin:0px 5px;
    font-size: 20px;
    list-style-type: none;
    cursor:pointer;
    transition:0.5s;
    position: relative;
} 
.prev-next-btn li span{
    position:absolute;
    width:10px;
    height:10px;
    border:1.5px solid #151414;
    transition: 0.5s;
}
/* next button */
.prev-next-btn li.next span{
    top:50%;
    right:35%;
    transform: translateY(-50%) rotate(-45deg);
    border-left:none;
    border-top:none;
}
.prev-next-btn li.next:hover span{
    right:20%;
}

.prev-next-btn li.next span:before{
    content: '';
    position: absolute;
    width: 16px;
    height: 1.5px;
    background-color: #151414;
    transform-origin: right;
    transform: rotate(45deg) translate(0px , 11px) scaleX(0);
    transition: 0.5s;
}
.prev-next-btn li.next:hover span:before{
    transform: rotate(45deg) translate(0px , 11px) scaleX(1);
}
/* prev button */

.prev-next-btn li.prev span{
    top:50%;
    right:35%;
    transform: translateY(-50%) rotate(-45deg);
    border-right:none;
    border-bottom:none;
}
.prev-next-btn li.prev:hover span{
    left:20%;
}

.prev-next-btn li.prev span:before{
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #151414;
    transform-origin: left;
    transform: rotate(45deg) translate(-1px , -1px) scaleX(0);
    transition: 0.5s;
}
.prev-next-btn li.prev:hover span:before{
    transform: rotate(45deg) translate(-1px , -1px) scaleX(1);
}