*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container-fluid{
    width:100%;
}
.container{
    max-width: 1400px;
    margin:0 auto;
}
.section-header h2{
    font-size: 3rem;
    padding:1rem 0;
    color:#272727;

}
.shop-the-look{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.shop-the-look img{
    width: 100%;
    
}
/* dot button */

.relative{
    position: relative;
}

:root{
    --dot-btn-top: 47%;
    --dot-btn-left: 19%;  
    --spacing-6:1.25rem;
    --rounded-full:9999px;
    --shop-the-look-dot-background:255 255 255;
    --spacing-12:2.5rem;
  }
.dot-btn-one{
    --dot-size: 10px;
    position: absolute;
    top: calc(var(--dot-btn-top) - (var(--dot-size) / 2)) ;
    left: calc(var(--dot-btn-left) - (var(--dot-size) / 2)) ;
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: var(--rounded-full);
    background-color: rgb(var(--shop-the-look-dot-background));
    transition: transform .2s ease-in-out;
    cursor: pointer;
}
.dot-btn-one[aria-current="true"] {
    transform: scale(1.3);
}

 .dot-btn-one::after {
    content: "";
    top: calc(50% + (var(--spacing-6) * -1));
    left: calc(50% + (var(--spacing-6) * -1));
    width: var(--spacing-12);
    height: var(--spacing-12);
    background: radial-gradient(50% 50% at 50% 50%,rgb(var(--shop-the-look-dot-background) / 0),rgb(var(--shop-the-look-dot-background) / .3));
    border-radius: var(--rounded-full);
    animation: 2s ease-in-out infinite alternate ping;
    position: absolute;
  }
  @keyframes ping {
    0%, 100% {
        transform: scale(1);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
}
/* btn one end */
:root{
    --dot-btn-top: 39%;
    --dot-btn-left: 66%;  
  
  }
.dot-btn-two{
    --dot-size: 10px;
    position: absolute;
    top: calc(var(--dot-btn-top) - (var(--dot-size) / 2)) ;
    left: calc(var(--dot-btn-left) - (var(--dot-size) / 2)) ;
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: var(--rounded-full);
    background-color: rgb(var(--shop-the-look-dot-background));
    transition: transform .2s ease-in-out;
    cursor: pointer;
}
.dot-btn-two[aria-current="true"] {
    transform: scale(1.3);
}
.dot-btn-two::after {
    content: "";
    top: calc(50% + (var(--spacing-6) * -1));
    left: calc(50% + (var(--spacing-6) * -1));
    width: var(--spacing-12);
    height: var(--spacing-12);
    background: radial-gradient(50% 50% at 50% 50%,rgb(var(--shop-the-look-dot-background) / 0),rgb(var(--shop-the-look-dot-background) / .3));
    border-radius: var(--rounded-full);
    animation: 2s ease-in-out infinite alternate ping;
    position: absolute;
  }
  .sr-only{
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
  }
/* dot button */



/* products shop */
.shop-the-look_products{
    display: grid;

}
.product-card_figure{
    width:70%;
    height:75%;
    margin-left:auto;
    margin-right:auto;
    position: relative;
}
.product-card_figure img{
    height:100%;
}
/* product badge style */
.product-card_badge{
    position: relative;
    display: inline-block;
}

.product-card_badge span{
    position: absolute;
    left:8rem;
    top:1rem;
    padding:5px 11px;
    color:white;
    background-color:#3C619E;
    font-weight: bold;
    cursor: pointer;
    z-index: 999;
}

/* rating product */
.rating-with-text{
    display: flex;
    justify-content: space-between;
    padding:10px 0px;
}
.rating-with-text a{
    text-decoration: none;
    color:#5f5c5c;
}
.rating-with-text span svg{
    color: #FFB74A;
}

/* product card quick buy */
.product-card_quick-buy{
    position: absolute;
    bottom:33px;
    right:18px;
}
.product-card_quick-buy a{
    color:white;
    border:none;
    background:transparent;
    cursor: pointer;
    background-color:#272727;
    padding:14px 24px;
    outline: none;
    font-size: 0.875rem;
    font-weight: 700;
    border:2px solid #272727;
    transition: all 0.2s ease-in;
    text-decoration: none;
}
.product-card_quick-buy a:hover{
    background:transparent;
    color:#272727;
    border:2px solid #272727;
    transition: all 0.2s ease-in;
}
/* Product name and price */
.product-name-price{
    font-weight: 700;
}
.product-name-price a{
    text-decoration: none;
    color:#151414;
    
}
.product-name-price p{
    padding:5px 0;
    color:#272727;

}
/* color-choice */
.color-choice{
    display: flex;
    margin:0;
    padding:0;
    border:none;
    margin-top:8px;
}
.color-choice .color{
    width:16px;
    height:8px;
    cursor: pointer;    
    margin:0 2px;
}
.gray{
    background-color: #BEBDB9;
}
.light{
    background-color: #F3DF66;
}
.lightRed{
    background-color: #F6D0C3;
}
.green{
    background-color: #83A190;
}
.vase-gray{
    background-color: #475785;
}
 .active{
    border-bottom:2px solid black;
    margin-top:1px;

}
/* previous and next btn */
.prev-next-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-30px;
    
}
.prev-next-btn li{
    width:40px;
    height:40px;
    text-decoration: none;
    border-radius: 50%;
    border:1px solid #b8b7b7;
    margin:0px 5px;
    font-size: 20px;
    list-style-type: none;
    cursor:pointer;
    transition:0.5s;
    position: relative;
} 
.prev-next-btn li span{
    position:absolute;
    width:10px;
    height:10px;
    border:1.5px solid #151414;
    transition: 0.5s;
}
/* next button */
.prev-next-btn li.next span{
    top:50%;
    right:35%;
    transform: translateY(-50%) rotate(-45deg);
    border-left:none;
    border-top:none;
}
.prev-next-btn li.next:hover span{
    right:20%;
}

.prev-next-btn li.next span:before{
    content: '';
    position: absolute;
    width: 16px;
    height: 1.5px;
    background-color: #151414;
    transform-origin: right;
    transform: rotate(45deg) translate(0px , 11px) scaleX(0);
    transition: 0.5s;
}
.prev-next-btn li.next:hover span:before{
    transform: rotate(45deg) translate(0px , 11px) scaleX(1);
}
/* prev button */

.prev-next-btn li.prev span{
    top:50%;
    right:35%;
    transform: translateY(-50%) rotate(-45deg);
    border-right:none;
    border-bottom:none;
}
.prev-next-btn li.prev:hover span{
    left:20%;
}

.prev-next-btn li.prev span:before{
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #151414;
    transform-origin: left;
    transform: rotate(45deg) translate(-1px , -1px) scaleX(0);
    transition: 0.5s;
}
.prev-next-btn li.prev:hover span:before{
    transform: rotate(45deg) translate(-1px , -1px) scaleX(1);
}
/* quick buy button */

/* product card for mobile */
.product-card-mobile {
    overflow: hidden;
}
.product-card-container{
    transform: translateX(0%);
    display: flex;
    width: 100vw;
    margin-left:5%;
}
.cart-one, .cart-two {
    min-width: 497px;
}
.cart-one, .cart-two{
    display:flex;
    width: 75%;
    background-color: #F2F2F2;
    padding:20px;
    overflow: hidden;
    margin-right:6px;
    transition: all 0.4s ease-in-out;
}
.cart-two{
    margin-right:5%;
}
.product-image{
    width:30%
}
.name-price{
    width:70%;
}
.name-price .name{
    font-size: 12px;
    text-decoration: none;
    color:black;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.name:hover{
    border-bottom: 1px solid black;
    transition:0.5s ease-in;
}
.name-price p{
    padding:4px 0;
    color:#272727;
    font-size: 12px;
    margin:14px 0
}
.name-price .button{
    text-decoration: none;
    padding:8px 14px;
    background-color: #d3d3d3;
    border:2px solid #d3d3d3;   
    font-size:12px;
    color:black;
    font-weight: 600;
    transition:all 0.2s ease-in-out;
}
.name-price .button:hover{
    background-color: transparent;
    border:2px solid black;
}


/* #product-container{
    position: relative;
}
#image2, #image3, #image4{
    display: none;
    position: absolute;
}

#image1:hover ~ #image2,
#image2:hover ~ #image3,
#image3:hover ~ #image4,
#image4:hover ~ #image1 {
    opacity: 1;
    display: block;
} */